<a href="https://colab.research.google.com/github/ajitjadhav10/My-Learnings/blob/main/100_days_of_ML/notebooks/part_6_decision_tree_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/ajitjadhav10/My-Learnings/main/100_days_of_ML/datasets/Position_Salaries.csv")

df.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [3]:
X=df.iloc[:,1:-1].values
y=df.iloc[:,-1].values

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.3,random_state=42)

In [6]:
from sklearn.tree import DecisionTreeRegressor

In [8]:
regressor=DecisionTreeRegressor(random_state=42) #not necessary ro input anything in the brackets to tune the model

In [9]:
regressor.fit(X,y)

DecisionTreeRegressor(random_state=42)

Predicting a new result

In [10]:
y_pred=regressor.predict([[6.5]])

In [11]:
y_pred

array([150000.])