<a href="https://colab.research.google.com/github/ajitjadhav10/My-Learnings/blob/main/100_days_of_python/python_day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age = 36
height=6
txt = "My name is John, and I am {} and I'm {} feet tall"
print(txt.format(age,height))

My name is John, and I am 36 and I'm 6 feet tall

In [5]:
txt ="We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.